* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container {
  height: 100vh;
}

ul {
  list-style: none;
}

.posting__title, .form__title {
  color: #2d3033;
}

.form__input,
.form__textarea,
.form__select {
  padding: 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.header {
  padding: 15px 60px;
  background-color: #335252;
  color: #d4dde1;
}

.header__title {
  font-weight: 500;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 25px 60px;
  background-color: #d4dde1;
}

.postings {
  flex-basis: auto;
  width: 60%;
}

.postings__item {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: auto;
  width: 30%;
  margin: 0 25px;
}

.form__label {
  margin: 10px 0;
}

.form__textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.form__label_req::after {
  content: '*';
  width: 10px;
  height: 10px;
  color: #aa4b41;
  font-size: 18px;
}

.form__submit-btn {
  margin: 15px auto 0 0;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #2d3033;
  border: none;
  border-radius: 5px;
  color: #d4dde1;
  cursor: pointer;
}
